body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6b4b4;
}

form{
    margin-top: 20px;
    background-color: #fff;
    padding: 40px 60px;
    min-width: 300px;

}

form h1{
    color: rgb(231, 117, 117);
    text-align: center;
}

form input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    
}

form .input input[type="email"], input[type="password"]{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

form button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    color: #ffff;
    background-color: rgb(231, 117, 117);
}

.register {
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}
.accepte{
        text-align: center;
        padding: 10px;
}