body{
    width: 50%;
    margin: 0 auto;
}
h1{
    margin: 0;
}
.zh{
    background-color: rgb(240, 225, 137);
    display: block;
    text-align: center;
}
.zg{
    background-color: rgb(90, 184, 95);
    float: left;
    padding-top: 7px;
    text-align: center;    
    padding-bottom: 600px;
}
.czg{
    float: left;
}

.zc{
    background-color: rgb(49, 165, 231);
    float: left;
    padding-top: 7px;
    padding-bottom: 600px;
    padding-right: 165px;
    padding-left: 165px;
}
.czc{
    float: left;
}

.zd{
    background-color: rgb(90, 184, 95);
    float: left;
    padding-top: 7px;
    text-align: center;    
    padding-bottom: 600px;
}
.czd{
    float: left;
}